## AIM 5001 Project 1 (M5) (100 Points)
**Text Processing** <br>
<br>
**Students: Aishwarya Singh, Atreish Ramlakhan, Nosson Weissman**

### Part 1: Regular Expressions (30 Points)
Text data is often in need of “cleaning” and preparation before it can be effectively used for analysis purposes. Consider
the following poorly formatted text string containing names and phone numbers of some residents of the town of
Springfield:
"555-1239Dr. Anthony Fauci(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco
tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni
"
Use your Python regular expression (“regex”) skills to complete the following tasks:

In [1]:
import re
import pandas as pd

### Part 1:

In [2]:
inputstring = "555-1239Dr. Anthony Fauci(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"


**1. (6 Points) Extract the names of each individual from the unformatted text string shown above and store them in a
vector of some sort. When complete, your vector should contain the following entries:**
"Dr. Anthony Fauci" "Hollingdorp, Donnatella" "Fitzgerald, F. Scott"
"Rev. Martin Luther King" "Snodgrass, Theodore" "Carlamina Scarfoni"

In [3]:
# Represent a full name, broadly.
# String of 1 or more lowercase or uppercase alphabet characters OR period (.) OR comma (,) OR blankspace.
pattern1 = re.compile('[a-zA-z\.,\s]+')

# Single blankspace characters bracketed on either side by non-alphabet characters - remove these.
rmspace = re.compile('[^a-zA-Z][\s][^a-zA-Z]')
namelist = rmspace.sub('', inputstring)

namelist = pattern1.findall(namelist)

print(namelist)

['Dr. Anthony Fauci', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']


**2. Using your new vector containing only the names of the six individuals, complete the following tasks:**

**a. (4 Points)** Use your regex skills to rearrange the vector so that all elements conform to the standard
“firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [4]:
comma = re.compile('[,]')

# Represent a single section of a name.
# String of 1 or more alphabet characters, periods and blankspaces preceded by a capital alphabet character.
pattern2 = re.compile('[A-Z][a-zA-Z\.\s]+')

# Rearrange only the names that have been separated by a comma.
for n in range(len(namelist)):
    match = comma.search(namelist[n])
    if match:
        task2 = pattern2.findall(namelist[n])
        namelist[n] = task2[1] + ' ' + task2[0]
print(namelist)

['Dr. Anthony Fauci', 'Donnatella Hollingdorp', 'F. Scott Fitzgerald', 'Rev. Martin Luther King', 'Theodore Snodgrass', 'Carlamina Scarfoni']


**b. (6 Points) Extract the names of each individual from the unformatted text string shown above and store them in a
vector of some sort. When complete, your vector should contain the following entries:**
"Dr. Anthony Fauci" "Hollingdorp, Donnatella" "Fitzgerald, F. Scott"
"Rev. Martin Luther King" "Snodgrass, Theodore" "Carlamina Scarfoni"

In [5]:
# Rewrite the name list in a pandas vector.
pnamelist = pd.Series(namelist)
pnamelist

0          Dr. Anthony Fauci
1     Donnatella Hollingdorp
2        F. Scott Fitzgerald
3    Rev. Martin Luther King
4         Theodore Snodgrass
5         Carlamina Scarfoni
dtype: object

In [6]:
# Represent a title.
# Uppercase alphabet followed by at least 1 lowercase alphabet followed by period.
title = r'[A-Z][a-z]+[\.]' #***what does r mean

pnamelist.str.contains(title) #what is this str functio

0     True
1    False
2    False
3     True
4    False
5    False
dtype: bool

**c. (4 Points)** Using your regex skills, construct a logical vector indicating whether a character has a
middle/second name.

In [7]:
import warnings
warnings.filterwarnings('ignore') #ignore notfication about deprecated features
# Create a vector of names with the titles removed.
pname_notitle = pnamelist.str.replace(title, '')
pname_notitle = pname_notitle.str.strip() 
pname_notitle

0             Anthony Fauci
1    Donnatella Hollingdorp
2       F. Scott Fitzgerald
3        Martin Luther King
4        Theodore Snodgrass
5        Carlamina Scarfoni
dtype: object

In [8]:
# Represent a middle name (once titles have been removed).
# Uppercase alphabet followed by any number of lowercase alphabet, bracketed by blank space.
middlename = r'[\s][A-Z][a-z]*[\s]'

pname_notitle.str.contains(middlename)

0    False
1    False
2     True
3     True
4    False
5    False
dtype: bool

**3. (6 Points) Consider the HTML string** \<title\>+++BREAKING NEWS+++\<title\>. We would like to extract the first HTML tag
(i.e., “\<title\>”). To do so we write the regular expression “\<.+\>”. Explain why this fails and correct the expression.

In [9]:
teststring = "<title>+++BREAKING NEWS+++<title>"

pattern3 = re.compile('(<[a-z]+>).')

pattern3.findall(teststring)

['<title>']

**4. (6 Points)** Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract
the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this
fails and correct the expression.


The regex we are given fails because '^' at the beginning of a character grouping is itself a special character in the regex expression which implies an inversion of selection (do NOT include the following). Also, the subtraction sign '-' is just not included in the selection because the '-' in '0-9' is a part of the expression to represent all numeric characters, and does not represent the '-' character itself.

These issues have been fixed in the correct expression below. The backslash before an otherwise-special character is used to make the regex interpret that character as itself and not as part of the expression logic.

In [10]:
teststring = "(5-3)^2=5^2-2*5*3+3^2"

pattern4 = re.compile('[\^0-9=+\-*()]+')

pattern4.findall(teststring)

['(5-3)^2=5^2-2*5*3+3^2']

### Part 2: Analyzing Chess Tournament Results (70 Points)

**For Part 2 of Project 1, you’re given a text file (“Project1.txt”)** with chess tournament results where the information has
some structure. <br>

**Your job is to create a Jupyter Notebook that generates a .CSV file with the following information for
each of the chess players:**
Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of
Opponents

For the first player shown in the file excerpt below, that information would be: <br>
_Gary Hua, ON, 6.0, 1794, 1605_ <br>

His “Average Pre Tournament Chess Rating of Opponents” score of 1605 was calculated by using the pre-tournament
opponents’ ratings of 1436, 1563, 1600, 1610, 1649, 1663, 1716, and dividing by the total number of games played.

**Your job is to create a Jupyter Notebook that generates a .CSV file with the following information for
each of the chess players:**
Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of
Opponents

For the first player shown in the file excerpt below, that information would be: <br>
_Gary Hua, ON, 6.0, 1794, 1605_ <br>

His “Average Pre Tournament Chess Rating of Opponents” score of 1605 was calculated by using the pre-tournament
opponents’ ratings of 1436, 1563, 1600, 1610, 1649, 1663, 1716, and dividing by the total number of games played.

For each player we are provided with the total points they’ve won during the tournament and details on the results of
their seven rounds of play. For each round we are given the unique ID of their opponent (an integer value) and an
indicator of whether they won (‘W’), lost (‘L’), achieved a draw (‘D’), had a bye for that round (‘B’), or were unable to
compete (‘U’).
<br>
<br>
If you have questions about the meaning of the remainder of the data or the results, please post them in the weekly
Discussion Forum. Data science, like chess, is a game of back and forth…
The chess rating system (invented by a Minnesota statistician named Arpad Elo) has been used in many other contexts,
including assessing the relative strength of employment candidates by human resource departments ([it has even been used by some online dating platforms to match up profiles](https://www.vox.com/2019/2/7/18210998/tinder-algorithm-swiping-tips-dating-app-science) ).
<br>
<br>
Be sure to include some commentary in formatted Markdown cells explaining your approach to solving each of the
individual problems. Save all of your work for this project within a single Jupyter Notebook upload / submit it within the
provided Project 1 Canvas submission portal. Be sure to save your Notebook using the following nomenclature : first
initial_last name_project1" (e.g., J_Smith_project1). Small groups should identity all group members at the start
of the Jupyter Notebook and each team member should submit their own copy of the team’s work within Canvas.

Our approach to reading the chess tournament file involves the use of Python's built-in text file reading functionality to read in a list of lines, separated by newline characters.

We then start create a separate list of each player's info called chesslines, joining the first and second line in the file for each player, and skipping past lines which do not contain any player info. We do not need to use any regular expressions at this stage.

In [11]:
# Open the chess file and read it.
chessfile = open('Project1.txt', 'r')
lines = chessfile.readlines()

# Extract relevant chess player info.
n = 5
chesslines = []

while n < len(lines):
    chesslines.append(lines[n-1] + lines[n])
    n = n + 3

Now we use a regular expression to extract player names and create a list of them, using the structure of the chess file with its vertical line separators ('|' characters) to help locate these names. Our regular expression captures blank spaces following the names, so we strip these spaces.

In [12]:
# Represent a full name in the chess file's format.
name_pattern = re.compile('[|][\s]([A-Z]+[A-Z\s\-]+)')

names = []

for i in chesslines:
    x = name_pattern.findall(i)
    names.append(x[0].strip())

print(names)

['GARY HUA', 'DAKSHESH DARURI', 'ADITYA BAJAJ', 'PATRICK H SCHILLING', 'HANSHI ZUO', 'HANSEN SONG', 'GARY DEE SWATHELL', 'EZEKIEL HOUGHTON', 'STEFANO LEE', 'ANVIT RAO', 'CAMERON WILLIAM MC LEMAN', 'KENNETH J TACK', 'TORRANCE HENRY JR', 'BRADLEY SHAW', 'ZACHARY JAMES HOUGHTON', 'MIKE NIKITIN', 'RONALD GRZEGORCZYK', 'DAVID SUNDEEN', 'DIPANKAR ROY', 'JASON ZHENG', 'DINH DANG BUI', 'EUGENE L MCCLURE', 'ALAN BUI', 'MICHAEL R ALDRICH', 'LOREN SCHWIEBERT', 'MAX ZHU', 'GAURAV GIDWANI', 'SOFIA ADINA STANESCU-BELLU', 'CHIEDOZIE OKORIE', 'GEORGE AVERY JONES', 'RISHI SHETTY', 'JOSHUA PHILIP MATHEWS', 'JADE GE', 'MICHAEL JEFFERY THOMAS', 'JOSHUA DAVID LEE', 'SIDDHARTH JHA', 'AMIYATOSH PWNANANDAM', 'BRIAN LIU', 'JOEL R HENDON', 'FOREST ZHANG', 'KYLE WILLIAM MURPHY', 'JARED GE', 'ROBERT GLEN VASEY', 'JUSTIN D SCHILLING', 'DEREK YAN', 'JACOB ALEXANDER LAVALLEY', 'ERIC WRIGHT', 'DANIEL KHAIN', 'MICHAEL J MARTIN', 'SHIVAM JHA', 'TEJAS AYYAGARI', 'ETHAN GUO', 'JOSE C YBARRA', 'LARRY HODGE', 'ALEX KONG', 'MARISA RICCI', 'MICHAEL LU', 'VIRAJ MOHILE', 'SEAN M MC CORMICK', 'JULIA SHEN', 'JEZZEL FARKAS', 'ASHWIN BALAJI', 'THOMAS JOSEPH HOSMER', 'BEN LI']

A similar process is used to create a list of the players' home states, total scores, and pre-tournament ELO ratings.

In [13]:
# Represent a state in the chess file's format.
state_pattern = re.compile('([A-Z]{2})[\s][|]')

states = []

for i in chesslines:
    x = state_pattern.findall(i)
    states.append(x[0])

print(states)

['ON', 'MI', 'MI', 'MI', 'MI', 'OH', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'ON', 'MI', 'ON', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI', 'ON', 'MI', 'ON', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI']

In [14]:
# Represent total scores in the chess file's format.
score_pattern = re.compile('[0-9][\.][0-9]')

scores = []

for i in chesslines:
    x = score_pattern.findall(i)
    scores.append(x[0])

print(scores)

['6.0', '6.0', '6.0', '5.5', '5.5', '5.0', '5.0', '5.0', '5.0', '5.0', '4.5', '4.5', '4.5', '4.5', '4.5', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '2.5', '2.5', '2.5', '2.5', '2.5', '2.5', '2.0', '2.0', '2.0', '2.0', '2.0', '2.0', '2.0', '1.5', '1.5', '1.0', '1.0', '1.0']

Pre-tournament ELO ratings are a quantity that will actually be used in a future calculation, so they are converted from strings to ints before being stored.

In [15]:
# Represent pre-ratings in the chess file's format.
prerating_pattern = re.compile('R:[\s]+([0-9]+)')

preratings = []

for i in chesslines:
    x = prerating_pattern.findall(i)
    preratings.append(int(x[0]))

print(preratings)

[1794, 1553, 1384, 1716, 1655, 1686, 1649, 1641, 1411, 1365, 1712, 1663, 1666, 1610, 1220, 1604, 1629, 1600, 1564, 1595, 1563, 1555, 1363, 1229, 1745, 1579, 1552, 1507, 1602, 1522, 1494, 1441, 1449, 1399, 1438, 1355, 980, 1423, 1436, 1348, 1403, 1332, 1283, 1199, 1242, 377, 1362, 1382, 1291, 1056, 1011, 935, 1393, 1270, 1186, 1153, 1092, 917, 853, 967, 955, 1530, 1175, 1163]

We now calculate the average pre-tournament rating of each player's opponents.

Once again we use a regular expression to locate and capture the player ID of each of a given player's opponents.

We then use these opponent IDs cast as ints to reference their pre-ratings, which were extracted in the previous block.

We then average the pre-ratings of the opponents for each player and store the results in a list. It does not matter how many games a player actually played provided they were in the tournament at all (i.e, in at least 1 game).

In [16]:
# Represent opponent IDs in chess file's format.
opponent_pattern = re.compile('([0-9]+)[|]')

avg_opponent_rtgs = []

for i in chesslines:
    # The number of opponents is at least 1, at most 7.
    opponents = opponent_pattern.findall(i)

    # Inner loop produces a sum of opponent pre-ratings.
    opr_sum = 0
    for j in opponents:
        opr_sum = opr_sum + preratings[int(j) - 1]

    # Calculate average.
    avg_opponent_rtgs.append(round(opr_sum/len(opponents)))


print(avg_opponent_rtgs)

[1605, 1469, 1564, 1574, 1501, 1519, 1372, 1468, 1523, 1554, 1468, 1506, 1498, 1515, 1484, 1386, 1499, 1480, 1426, 1411, 1470, 1300, 1214, 1357, 1363, 1507, 1222, 1522, 1314, 1144, 1260, 1379, 1277, 1375, 1150, 1388, 1385, 1539, 1430, 1391, 1248, 1150, 1107, 1327, 1152, 1358, 1392, 1356, 1286, 1296, 1356, 1495, 1345, 1206, 1406, 1414, 1363, 1391, 1319, 1330, 1327, 1186, 1350, 1263]

We now convert our collection of lists of player data into a pandas dataframe.

In [17]:
outputlist = {'Names':names, 'States':states, 'Total Scores':scores, 'Pre-Ratings':preratings, 
              'Avg Opponent Pre-Ratings':avg_opponent_rtgs}
index = range(1, len(names) + 1)

outputframe = pd.DataFrame(outputlist, index)

outputframe

,Names,States,Total Scores,Pre-Ratings,Avg Opponent Pre-Ratings
1,GARY HUA,ON,6.0,1794,1605
2,DAKSHESH DARURI,MI,6.0,1553,1469
3,ADITYA BAJAJ,MI,6.0,1384,1564
4,PATRICK H SCHILLING,MI,5.5,1716,1574
5,HANSHI ZUO,MI,5.5,1655,1501
...,...,...,...,...,...
60,JULIA SHEN,MI,1.5,967,1330
61,JEZZEL FARKAS,ON,1.5,955,1327
62,ASHWIN BALAJI,MI,1.0,1530,1186
63,THOMAS JOSEPH HOSMER,MI,1.0,1175,1350
64,BEN LI,MI,1.0,1163,1263

Finally, we use our output dataframe to write a csv file containing our project results.

In [18]:
outputframe.to_csv('project1_output.csv', index = False)